body{
    font-family: 'Space Mono', monospace;
}
 
 #menu-header{
    list-style-type: none;
    display: flex;
    justify-content: end;
    border: 1px white;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
    background-color: white;
 }

 li {
    display : inline;
    padding-right: 20px;
}

#menu-header li a{
    text-decoration: none;
    color: black;
}

.collapse img{
    display: flex;
}

#menu-footer{
     list-style-type: none;
    display: flex;
    justify-content: center;
    border: solid 1px white;
    border-top: 1px solid black;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
    background-color: white;
}

#menu-footer li a {
    color: black;
    text-decoration: none;
}

#menu-footer li {
    padding-right: 70px;
}

.photo_event{
    width: 100%;
}

#cat-select{
    border-radius: 8px;
    padding-right: 100px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 5px;
    border: 2px solid;
    border-color: rgb(218, 215, 215);
    margin-top: 50px;
    margin-right: 10px;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 33%; /* Ajustez la largeur des éléments de la galerie selon vos préférences */
    margin: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}